
@using MVCApplication.Models

@model MVCApplication.Models.EmpInfo

@{
    ViewBag.Title = "Home Page";
}

<head>
    <style>
        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>        
        $(document).ready(function () {            
            $("#Get").click(function () {
                $.ajax({
                    url: 'http://dummy.restapiexample.com/api/v1/employees',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });

            $("#Save").click(function () {
                var _data = { "name": "test", "salary": "123", "age": "23" };
                $.ajax({
                    url: 'http://dummy.restapiexample.com/api/v1/create',
                    type: 'POST',
                    dataType: 'json',
                    data: _data,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function () {
                        console.log('Error in Operation');
                    }
                });
            });  
        });
    </script>
</head>
<h2>Create Employee</h2>

<table>
    <tr>
        <td>
            User Name:
        </td>
        <td>
            @Html.TextBox("UserName")
            @*@Html.TextBoxFor(a => a.Name)*@
        </td>
    </tr>
    <tr>
        <td>
            Paswword:
        </td>
        <td>
            @Html.Password("Password")
        </td>
    </tr>
    <tr>
        <td>Select Department:</td>
        <td>
            @Html.DropDownList("Departments", new List<SelectListItem>
            {
                  new SelectListItem { Text = "IT", Value = "1", Selected=true},
                  new SelectListItem { Text = "HR", Value = "2"},
                  new SelectListItem { Text = "Payroll", Value = "3"}
            }, "Select Department",
             new { @class = "form-control" })
        </td>
    </tr>

    <tr>
        <td>Gender: </td>
        <td>
            @Html.DropDownList("EmployeeGender",
                    new SelectList(Enum.GetValues(typeof(Department.Gender))),
                    "Select Gender",
                    new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td>
            Male:
        </td>
        <td>
            @Html.RadioButton("Gender", "Male")
        </td>
    </tr>
    <tr>
        <td>
            Female:
        </td>
        <td>
            @Html.RadioButton("Gender", "Female")
        </td>
    </tr>
    <tr>
        <td>
            Is Active:
        </td>
        <td>
            @Html.CheckBox("isActive", true)
        </td>
    </tr>
    
    <tr>
        <td>
            <input type="button" id="Get" value="Get Data" />
        </td>
        <td>
            <input type="button" id="Save" value="Save Data" />
        </td>
    </tr>
</table>
